prefer-no-csd
recent-windows {
    binds {
    }
}
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle,ctrl:nocaps"
        }
        numlock
    }
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    //warp-mouse-to-focus
    //focus-follows-mouse max-scroll-amount="0%"
}
output "eDP-1" {
    // off
    mode "1920x1080@120.030"
    scale 1
    transform "normal"
    position x=0 y=0
}
cursor {
    xcursor-theme "default"
    xcursor-size 24
		hide-after-inactive-ms 1000
		hide-when-typing
}
overview {
    zoom 0.5
    backdrop-color "#101010"

    workspace-shadow {
        // off
        softness 50
        spread 30
        offset x=0 y=10
        color "#00000050"
    }
}
layout {
		background-color "#101010"
    gaps 2
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
    preset-window-heights { 
			proportion 0.25
			proportion 0.5 
			proportion 0.75
			proportion 1.0
		}
    default-column-width { proportion 0.5; }
    focus-ring {
        off
        width 2
        active-color "#77ffee"
        inactive-color "#505050"
    }
    border {
        // off
        width 2
        active-color "#ccff77"
        inactive-color "#557733"
        urgent-color "#9b0000"
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
        // on
        // draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    tab-indicator {
        width 2
        gap -2
				inactive-color "#ccff77"
				active-color "#557733"
        length total-proportion=0.9
        position "left"
        place-within-column
    }
    insert-hint {
        // off
        color "#ccff7755"
    }
    struts {
        // left 10
        // right 10
        // top 10
        // bottom 10
    }
}
spawn-sh-at-startup "dbus-daemon --session --address=unix:path=$XDG_RUNTIME_DIR/bus"
spawn-sh-at-startup "mako"
spawn-sh-at-startup "pipewire"
hotkey-overlay {
    skip-at-startup
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    // off
}
window-rule {
    match title="float"
    open-floating true
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

binds {
    Mod+T { spawn "ghostty"; }
		Mod+Alt+T {spawn-sh "ghostty --title=float";}
		Mod+G {spawn-sh "/home/nikitka/scripts/notify_time";}
		Mod+Y {spawn-sh "/home/nikitka/scripts/notify_battery";}
		
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_SINK@ 5%+ && /home/nikitka/scripts/notify_volume"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_SINK@ 5%- && /home/nikitka/scripts/notify_volume"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_SINK@ toggle && /home/nikitka/scripts/notify_volume"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
    Mod+D repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
		Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

		Mod+Alt+H     { move-column-left; }
    Mod+Alt+J     { move-window-down-or-to-workspace-down; }
    Mod+Alt+K     { move-window-up-or-to-workspace-up; }
    Mod+Alt+L     { move-column-right; }
    
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }

    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+TouchpadScrollDown { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ -0.2% && /home/nikitka/scripts/notify_volume"; }
    Mod+TouchpadScrollUp   { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ +0.2% && /home/nikitka/scripts/notify_volume"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Alt+1 { move-column-to-workspace 1; }
    Mod+Alt+2 { move-column-to-workspace 2; }
    Mod+Alt+3 { move-column-to-workspace 3; }
    Mod+Alt+4 { move-column-to-workspace 4; }
    Mod+Alt+5 { move-column-to-workspace 5; }
    Mod+Alt+6 { move-column-to-workspace 6; }
    Mod+Alt+7 { move-column-to-workspace 7; }
    Mod+Alt+8 { move-column-to-workspace 8; }
    Mod+Alt+9 { move-column-to-workspace 9; }

    Mod+BracketRight  { consume-or-expel-window-left; }
    Mod+BracketLeft { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Alt+R { switch-preset-window-height; }
    Mod+F { maximize-column; }
    Mod+Alt+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Alt+Minus { set-window-height "-10%"; }
    Mod+Alt+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Alt+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+M { quit skip-confirmation=true; }
		
		Mod+E { spawn-sh "ghostty -e yazi";}
		Mod+N { spawn-sh "ghostty -e nvim";}
		Mod+B { spawn-sh "firefox";}
}
